@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties & Variables */

:root {
  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: "Ubuntu Mono", monospace;

  --fw-reg: 300;
  --fw-mid: 600;
  --fw-bold: 900;

  --clr-light: #f5f5f5;
  --clr-light-rgb: 255, 255, 255;
  --clr-main: #365943;
  --clr-main-rgb: 54, 89, 67;
  --clr-dark: #303030;
  --clr-accent: #c1aec0;
  --clr-accent-rgb: 102, 204, 102;
  --clr-accent-2: #eea144;
  --clr-accent-2-rgb: 195, 177, 225;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.1rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 900px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

textarea {
  margin: 0;
  padding: 0;
}

/* img {
    display: block;
    max-width: 100%;
} */

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 2px;
}

/* BUTTONS */

.MuiButton-root,
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent-2);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  border-radius: 5px;
  transition: border 200ms ease-in-out;
}

.btn:hover {
  border: 2px solid red;
}

/* .logout-btn {
  background-color: #2ba6f3;
} */

/* ADD NEW BTN */

.add-new--container {
  display: flex;
  justify-content: flex-end;
  min-width: fit-content;
  margin: 1rem 0;
  margin-right: 2rem;
}

.add-new--btn {
  box-shadow: var(--bs);
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.4rem;
  background-color: #2ba6f3;
  color: var(--clr-light);
}

.add-new--btn:hover {
  background-color: #1c91da;
}

/* Typography */

h1,
h2,
h3,
h4 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}

/* NAVBAR */

.nav {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0;
  /* height: 50px; */
}

.nav-list {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1;
}

.nav-list .searchbar:hover {
  font-weight: var(--fw-bold);
  text-decoration: none;
}

.nav-list .searchbar {
  text-decoration: line-through;
}

.nav-list .searchbar.active {
  border-bottom: 3px solid rgb(0, 174, 255);
  text-decoration: none;
}

.nav-list a:visited {
  color: inherit;
}

.nav-list a {
  text-decoration: none;
}

.navbar-icon {
  font-size: 25px;
}

.navbar-icon.dark {
  color: black;
}

.text-underneath-icon-on-hover {
  display: none;
  position: absolute;
  top: 30px;
  color: white;
}
/* 
.navbar-icon:hover + .text-underneath-icon-on-hover.dark {
  display: flex;
  width: 200px;
  justify-content: center;
  color: black;
  font-size: 1rem;
}

.navbar-icon:hover + .text-underneath-icon-on-hover {
  display: flex;
  width: 200px;
  justify-content: center;
  color: white;
  font-size: 1rem;
} */

.MuiIconButton-root:hover > .text-underneath-icon-on-hover {
  display: flex;
  width: 200px;
  justify-content: center;
  color: white;
  font-size: 1rem;
}

.MuiIconButton-root:hover > .text-underneath-icon-on-hover.dark {
  display: flex;
  width: 200px;
  justify-content: center;
  color: black;
  font-size: 1rem;
}

.nav-mobile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.nav-mobile-icon-text {
  padding: 0;
  padding-left: 1rem;
  margin: 0;
  font-size: 1rem;
}

.navbar {
  height: 100px;
}

/* HOME */

.pp-list--container {
  display: flex;
  border: 1px solid black;
}

/* PLANT PROFILES */

/* .pp {
  background-color: gray;
  margin: 0;
  padding: 1rem;
} */

.pp-main {
  margin: 0 auto;
  width: 80%;
  background-color: white;
}

.pp--title {
  text-align: center;
  margin: 0;
}

.pp-list--title {
  margin: 0 2rem;
}

.pp--filters-new {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.pp--filtering {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
}

.pp--filter-item {
  border: 2px solid red;
  border-radius: 7px;
  background-color: transparent;
  width: 100px;
}

.home-pp-list--contianer {
  flex-direction: column;
}

.home-pp-list--img {
  min-width: 200px;
}

/* PLANT PROFILES CARD */

.pp-card--container {
  border: 4px solid green;
  background-color: rgba(var(--clr-main-rgb), 0.05);
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem 1rem;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

.pp-card--title {
  /* grid-area: header; */
  color: darkgreen;
  /* margin-bottom: 1rem; */
}

.pp-card--headers {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  /* margin-top: 2rem; */
}

.pp-card--right-side {
  order: 1;
}

.pp-card--left-side {
  order: 2;
}

.pp-card--img {
  max-height: 500px;
  /* border: 2px solid gray; */
  /* background-color: #bde6ff; */
  text-align: center;
}

.pp-card--common-issues {
  border: 2px solid gray;
  margin: 1rem 0;
}

.pp-card--common-issues .pp-card--headers {
  background-color: lightgray;
  border-bottom: 2px solid gray;
  margin: 0;
  /* padding: 0.1rem 0; */
  /* padding-top: 0.2rem; */
}

.pp-card--notes {
  order: 4;
  background-color: lightgray;
  border-radius: 5px;
}

.pp-card--common-issues {
  order: 3;
}

.pp-form-buttons {
  order: 5;
}

.pp-form--slider {
  min-width: 200px;
  max-width: 300px;
}

.pp-common-issues--textarea {
  background-color: inherit;
  margin: 1rem;
  resize: none;
  width: calc(100% - 2rem);
  /* height: 100px; */
}

.pp-notes--textarea {
  background-color: inherit;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0;
  width: calc(100% - 2rem);
  /* width: 100%; */
  min-height: 100px;
}

.pp-card--form-individual {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0.25rem 0;
}

.pp-card--form-label {
  font-weight: var(--fw-mid);

  padding-top: 0.2rem;
  margin-right: 0.25rem;
}

.pp-card--general-info .pp-card--form-label {
  min-width: 130px;
}

.pp-card--plant-care-needs .pp-card--form-label,
.pp-card--fertilization .pp-card--form-label {
  min-width: 90px;
}

.pp-card--plant-care-needs,
.pp-card--fertilization {
  margin-top: 1rem;
  border-top: 2px solid gray;
  padding-top: 1rem;
}

.pp-card--form-input {
  width: 100%;
  /* font-size: 1rem; */
  padding-left: 0.25rem;
  border: 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.5);
}

/* .pp-card--locations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .pp-card--location-item {
  padding: 0.25rem 0.5rem;
} */
/* 
.pp-card--location-item:first-child {
  background-color: #da711c;
  border-radius: 5px;
} */

.pp-card--icon-water {
  padding: 0.5rem;
  width: 16px;
}

.pp-card--icon-water:nth-child(-n + 3) {
  border: 2px solid black;
  border-radius: 50%;
}

.pp-card--icon-sunlight {
  padding: 0.5rem;
}

.pp-card--icon-sunlight:nth-child(-n + 4) {
  border: 2px solid black;
  border-radius: 50%;
}

.pp-card--water-container.form,
.pp-card--sunlight-container.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.pp-form--subtext,
.pp-form--slider {
  align-self: center;
}

.pp-form--level-subtext {
  align-self: flex-end;
  padding-right: 2rem;
}

@media (min-width: 800px) {
  .pp-card--icon-water {
    /* padding: 0.5rem; */
    width: 20px;
  }
}

/* SPECIFIC PLANT PROFILE PAGE */

.MuiButton-root.spp--change-btns {
  border: 2px solid var(--clr-main);
  min-width: fit-content;
  color: var(--clr-dark);
  background-color: rgba(var(--clr-accent-rgb), 0.25);
}

.MuiButton-root.spp--update-btn {
  border: 2px solid var(--clr-main);
  min-width: fit-content;

  color: var(--clr-dark);
  background-color: rgba(var(--clr-accent-2-rgb), 0.25);
}

.MuiButton-root.spp--delete-btn {
  border: 2px solid orange;
  min-width: fit-content;

  color: var(--clr-dark);
  background-color: var(--clr-accent-2);
}

/* SEARCHBAR */

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
